.modal-title {
  align-items: flex-start;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px;
  padding: 0 0 10px 0;

  &--text {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0 15px 0 0;
  }
  .modal-close {
    align-items: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    height: 21px;
    justify-content: flex-end;
    outline: none;
    padding: 0;
    width: 30px;
    &:active {
      opacity: 0.8;
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.modal-note {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  margin: 0 0 15px;
  &--error {
    color: lightcoral;
    font-weight: 700;
  }
}

.modal-text {
  color: #444;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 0 18px;
}
.modal-subtitle {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  margin: 0 0 25px;
}

.modal-send-button {
  text-transform: uppercase;
  width: 100%;
  &--inverse {
    background-color: #8830ce;
  }
}
